{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block pageTitle %}Accueil{% endblock %}

{% block main %}
<div class="container-fluid">
  <div class="d-flex flex-row flex-wrap justify-content-around">
    {% for m in movies %}
    <div class="card mt-5" style="width: 18rem;">
      <img class="card-img-top" style="height: 250px; width: 100%; display: block;" src="https://lorempixel.com/540/370/" alt="">
      <div class="card-body">
        <h5 class="card-title">{{ m.title }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{{ path("evaluation", {"id" : m.id})}}" class="btn btn-primary">Evaluer</a>
        <a href="{{ path("single", {"id" : m.id})}}" class="btn btn-primary">Voir</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
